.parent {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      height: 30%;
      width: 90%;
       
}

img {
    width: 70%;
}

.child {
    max-width: 33%;
    height: auto;
    vertical-align: middle;
}

.img-hover-zoom {
      background: #222f3e;
      max-height: 300px;
      overflow: hidden;
      border-radius: .5em;
      border: 5px solid rgba(255, 255, 255, .05);
}

.zoom--basic img {
      transition: transform .5s ease;
    }

.zoom--basic:hover img {
      transform: scale(1.5);
    }

.zoom--quick-zoom img {
      transform-origin: 0 0;
      transition: transform .25s, visibility .25s ease-in;
    }

.zoom--quick-zoom:hover img {
      transform: scale(2);
    }

.zoom--point-zoom img {
      transform-origin: 65% 75%;
      transition: transform 1s, filter .5s ease-out;
    }

.zoom--point-zoom:hover img {
      transform: scale(5);
    }

.zoom--zoom-n-rotate img {
      transition: transform .5s ease-in-out;
    }

.zoom--zoom-n-rotate:hover img {
      transform: scale(2) rotate(25deg);
    }

.zoom--slowmo img {
      transform-origin: 50% 65%;
      transition: transform 5s, filter 3s ease-in-out;
      filter: brightness(150%);
    }

.zoom--slowmo:hover img {
      filter: brightness(100%);
      transform: scale(3);
    }

.zoom--brightness img {
      transition: transform 2s, filter 1.5s ease-in-out;
      transform-origin: center center;
      filter: brightness(50%);
    }

.zoom--brightness:hover img {
      filter: brightness(100%);
      transform: scale(1.3);
    }

.zoom--zoom-n-pan-h img {
      transition: transform .5s ease-in-out;
      transform: scale(1.4);
      transform-origin: 100% 0;
    }

.zoom--zoom-n-pan-h:hover img {
      transform: scale(1.5) translateX(30%);
    }

.zoom--zoom-n-pan-v img {
      transition: transform .5s ease-in-out;
      transform: scale(1.4);
      transform-origin: 0 0;
    }

.zoom--zoom-n-pan-v:hover img {
      transform: scale(1.25) translateY(-30%);
    }

.zoom--blur img {
      transition: transform 1s, filter 2s ease-in-out;
      filter: blur(2px);
      transform: scale(1.2);
    }

.zoom--blur:hover img {
      filter: blur(0);
      transform: scale(1);
    }

.zoom--colorize img {
      transition: transform .5s, filter 1.5s ease-in-out;
      filter: grayscale(100%);
    }

.zoom--colorize:hover img {
      filter: grayscale(0);
      transform: scale(1.1);
    }